.header-container{
    height: 65px;
    /* background-image: linear-gradient(-180deg, rgb(241, 245, 248) 0%, rgb(234, 237, 240) 100%); */
    box-shadow: 1px 0 10px 0 #6e6d6d;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    z-index: 999;
}

.logo{
    height: 30px;
    margin: 20px 26px;
}

.title{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.15px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    top: 10px;
    position: absolute;
}


.header-right{
    display: flex;
    width: 400px;
    padding: 10px;
}
.header-right .user-info{
    width: 330px;
    display: flex;
}

.header-right .user{
    margin-left: 20px;
}

.avatar{
    width: 40px;
    height: 40px;
    border: 4px solid #132F46;
    border-radius: 50%; 
    top: 10px;
    /* position: absolute; */
    /* margin : -60px 10px; */
}
.logout{
    margin : 20px 40px;
    height: 20px;
}