.main-table-container {
    margin-top: 30px;
    float: left;
    width: calc(100% - 30px);
    overflow: hidden; 
}

.main-table,
.main-table-row {
    background-color: white;
}

.main-table {
    width: calc(100% + 22px);
    overflow-y: auto;
    overflow-x: hidden;
}
.main-table .ant-table-title{
    font-size: 21px;
    margin-left: 10px;
    color: #35383b;
}

.main-table::-webkit-scrollbar {
    display: none;
}

.main-table .ant-table-header::-webkit-scrollbar, .main-table .ant-table-body::-webkit-scrollbar {
    display: none;
}
.main-table .ant-table-header{
    height: 80px;
}

.ant-table-thead > tr > td{
    font-size: 20px;
    border-bottom: solid 1px #495057;
}
.ant-table-tbody > tr > td{
    padding: 15px;
    height: 55px;
}
.ant-table-tbody > tr:hover > td{
    /* background-color:rgb(226, 235, 243) !important; */
}


