.App {
  text-align: center;
  background-color: #f5f7fb;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  min-height: calc( 100vh - 90px);
  padding: 110px 120px 0;
}
.h5{
    font-size: 1rem;
}
.num{
    font-family: "Source Sans Pro","Segoe UI", "Helvetica Neue", Arial;
    font-weight: 700;
    font-size: 48px;
}
.card {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0;
    padding: 1.5rem 1.5rem;
    position: relative;
}

.text-center {
    text-align: center !important;
}



/************ Table **************/
.area-table-container{
    margin-bottom: 50px;
}

.loading-btn{
    background-color: #868e96;
    border-color: #868e96;
}